@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*utility classes*/

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn1{
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500
}
.btn-primary{
      color: #fff;
      background: #16a083;
      transition: background 0.3s ease-in-out;
}
.btn-primary:hover{
      color: #fff;
      background: #0e7861;
}



/*for desktop*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.80;
    z-index: 999;
}
.navbar-container{
    
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    
}

.menu-items{
    /* border: 2px solid green; */
    display: flex;
    order: 2;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.logo{
    order: 1;
    font-size: 3rem;
    color: lightcoral;
}
.navbar a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out,
    background-color 0.4s ease-in-out;
}
.navbar a:hover{
    color: brown;
    /* background-color: salmon;
    border-radius: 3px; */
}
/* .navbar a:visited{
    color: red;
} */
/*showcase styling*/

.carousel-inner{
    /* border: 2px solid rgb(38, 255, 0); */
    max-height: fit-content;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-wrap: wrap;
}
/* .carousel-item{
    background-size: cover;
    max-height: fit-content;
} */

.carousel-item img{
    /* border: 3px solid blue; */
    display: block;
    max-height: 70vh;
    background-size: cover;
    margin: auto;
    /* object-fit: contain; */
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background: red;
    fill: white;
}

.carousel-item video {
    background-size: cover;
    margin: auto;
    width: 100%; 
    object-fit: cover;
    max-height: 70vh;}
/* .showcase-container{
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    transform: translate(0%,-100%);
}
.showcase-container h1{
    color: coral;
}
.showcase-container p{
    color: green;
} */

 
/*about us*/
#about{
    /* border:5px solid red; */
    padding: 50px 0px;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* border:5px solid red; */
    box-shadow: 0px 0px 0px #000000b8;
    animation: wrapper 1s ease-in-out forwards;
}
@keyframes wrapper {
    100%{
        box-shadow: 5px 5px 10px #000000b8;
    }
}
#about h2{
    font-size: 3.2rem;
}
#about p{
    font-size: 1.6rem;
    color: #555;
}
#about .sm{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}
.about-img{
    /* border: 2px solid red; */
    flex:1 1 400px;
    padding: 30px;
    transform: translate(150%);
    animation: about-img-animation 1s ease-in-out forwards;

}
@keyframes about-img-animation {
    100%{
        transform: translate(0%);
    }
}
.about-text{
    flex:1 1 400px;
    padding: 30px;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation {
    100%{
        transform: translate(0%);
    }
}
.about-img img{
    display: block;
    height: 380px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}

/*MENU SECTION*/
#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.food-container{
    display: flex;
    justify-content: space-between;
    
}
.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: brown;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 3px solid brown;
  background-image: none;
  padding: 13px;
  
}
.carousel-control-prev-icon{
    transform: translate(-20px);
}
.carousel-control-next-icon{
    transform: translate(40px);
}






.img-container{
    /* border: 2px solid red; */
    margin: 0 1rem;
    position: relative;
}
.img-content{
    position:absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3{
    color: #fff;
    font-size: 3rem;
}

.img-content a{
    font-size: 1.2rem;
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 50%;
}

/*food varieties*/
.food-menu-heading{
    /* border: 2px solid black; */
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    color: #666;
}

.food-menu-container{
    /* border: 5px solid red; */
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 15px 0;
    max-height: fit-content;

}
.food-menu-container img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    /* border: 5px solid blue; */
    display: flex;
    flex:1 1 400px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    box-shadow: 5px 5px 10px #000000b8;
    /* margin: 0.3rem 0.3rem;
    padding: auto; */
}
.food-description{
    margin: auto 1.5rem;
}
.food-title{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}
.food-description p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price{
    font-weight: 700;
    color: #117964;
}

/*customer review*/
#testimonial{
    padding: 5rem 0rem;
    background-color: #e0dcdc;
}

.testimonial-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
    transform: translate(-5%);
}

.testimonial-container .checked{
    color: red;
}

.testimonial-box .testimonial-text{
    margin: 1rem 0;
    color: #444;

}
.testimonial-box{
    text-align: center;
    padding: 1rem;
}
.customer-photo img{
    display: block;
    width: 120px;
    height: 120px;
    object-fit: contain;
    object-position: center;
    border-radius: 70%;
    margin: auto;
}
/*contact page*/
#contact{
    padding: 5rem 0;
}

.contact-container{
    display: flex;
    background: #fff;

}
.contact-image{
    width: 50%;

}
.contact-image img{
    display: block;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.form-container{
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container textarea{
    display: block;
    width: 100%;
    /* border-bottom: 2px solid #ddd; */
    padding: 1rem 0;
}

.form-container h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem;
}

.form-container a{
    font-size: 1.2rem;
     margin: 0.5rem 0 0 0.5rem;
}

#footer{
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
    font-weight: 180;
    color: #fff;
    background:rgb(65, 65, 65);
}
#footer .social-links a{
    margin: 1rem;
}
#footer p{
    font-size: 1.5rem;
}

/*media queries*/
@media (min-width:769px) and (max-width: 2300px){
    .carousel-item img{
        /* border: 3px solid blue; */
        display: block;
        height: 70vh;
        background-size: cover;
        margin: auto;
        /* object-fit: contain; */
    }
    .carousel-item video {
        background-size: cover;
        margin: auto;
        width: 100%; 
        object-fit: cover;
        height: 70vh;}
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type='checkbox']{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
       
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }
     .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
     }
     .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
     }
     .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
     }
    
     .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 70vh;
        max-width: 300px;
        flex-basis: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;

     }
     .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
     }
     .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
     }
     .navbar-container input[type='checkbox']:checked ~ .menu-items{
        transform: translate(0);
     }
     .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
     }
     .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
     }
     .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
     }

     /*categories*/
     .food-container{
        flex-direction: column;
        align-items: stretch;

     }
     .food-type:not(:last-child){
        margin-bottom: 3rem;
     }
     .food-type{
        box-shadow: 5px 5px 10px 0px #aaa;
     }
     .img-container{
        margin: 0;
     }
     .carousel-item img{
        /* border: 3px solid blue; */
        display: block;
        height: 45vh;
        background-size: cover;
        margin: auto;
        /* object-fit: contain; */
    }
    .carousel-item video {
        background-size: cover;
        margin: auto;
        width: 100%; 
        object-fit: cover;
        height: 45vh;}

}


/*small screen*/
@media (max-width:550px) {
    html{
        font-size: 50%;
    }
    .testimonial-container{
        flex-direction: column;
        text-align: center;
    }
    .carousel-control-prev-icon{
        transform: translate(-10px);
    }
    .carousel-control-next-icon{
        transform: translate(10px);
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 150%;
    }
    .form-container{
        width: 90%;
    }
    .contact-image{
        width: 100%;
        margin: 3rem auto;
    }
    .carousel-item img{
        /* border: 3px solid blue; */
        display: block;
        height: 35vh;
        background-size: cover;
        margin: auto;
        /* object-fit: contain; */
    }
    .carousel-item video {
        background-size: cover;
        margin: auto;
        width: 100%; 
        object-fit: cover;
        height: 35vh;}
        
}

/*landscape*/
@media (orientation: landscape) and (max-height: 500px){
    html{
        font-size: 50%;
    }
    .showcase-area{
        height: 50vmax;
    }
    .carousel-item img{
        /* border: 3px solid blue; */
        display: block;
        height: 68vh;
        background-size: cover;
        margin: auto;
        /* object-fit: contain; */
    }
    .carousel-item video {
        background-size: cover;
        margin: auto;
        width: 100%; 
        object-fit: cover;
        height: 68vh;}

}
