@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*utility classes*/

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn1{
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500
}
.btn-primary{
      color: #fff;
      background: #16a083;
}



/*for desktop*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.80;
    z-index: 999;
}
.navbar-container{
    
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    
}

.menu-items{
    /* border: 2px solid green; */
    display: flex;
    order: 2;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.logo{
    order: 1;
    font-size: 3rem;
    color: lightcoral;
}
.navbar a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out,
    background-color 0.4s ease-in-out;
}
.navbar a:hover{
    color: brown;
    /* background-color: salmon;
    border-radius: 3px; */
}
/* .navbar a:visited{
    color: red;
} */
/*showcase styling*/

.carousel{
   /* border: 2px solid red; */
   
}
.carousel-inner{
    /* border: 2px solid rgb(38, 255, 0); */
    max-height: fit-content;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    flex-wrap: wrap;
}
/* .carousel-item{
    background-size: cover;
    max-height: fit-content;
} */

.carousel-item img{
    /* border: 3px solid blue; */
    display: block;
    max-height: 60vh;
    background-size: cover;
    margin: auto;
    /* object-fit: contain; */
}
/* .showcase-container{
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    transform: translate(0%,-100%);
}
.showcase-container h1{
    color: coral;
}
.showcase-container p{
    color: green;
} */
 
/*about us*/
#about{
    /* border:5px solid red; */
    padding: 50px 0px;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* border:5px solid red; */
    box-shadow: 0px 0px 0px #000000b8;
    animation: wrapper 1s ease-in-out forwards;
}
@keyframes wrapper {
    100%{
        box-shadow: 5px 5px 10px #000000b8;
    }
}
#about h2{
    font-size: 3.2rem;
}
#about p{
    font-size: 1.6rem;
    color: #555;
}
#about .sm{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}
.about-img{
    /* border: 2px solid red; */
    flex:1 1 400px;
    padding: 30px;
    transform: translate(150%);
    animation: about-img-animation 1s ease-in-out forwards;

}
@keyframes about-img-animation {
    100%{
        transform: translate(0%);
    }
}
.about-text{
    flex:1 1 400px;
    padding: 30px;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation {
    100%{
        transform: translate(0%);
    }
}
.about-img img{
    display: block;
    height: 380px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}

/*MENU SECTION*/
#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.food-container{
    display: flex;
    justify-content: space-between;
    
}
.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: brown;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 3px solid brown;
  background-image: none;
}





.img-container{
    margin: 0 1rem;
    position: relative;
}
.img-content{
    position:absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3{
    color: #fff;
    font-size: 3rem;
}

.img-content a{
    font-size: 1.2rem;
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 50%;
}